{% extends 'base.html' %}

{% block page_title %}
    {{ user.username }}
{% endblock %}

{% block content %}
    <div class="h1">{{ user.username }}</div>
    <table class="table">
        <tbody>
            <tr>
                <th width="100px">First name</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th width="100px">Last name</th>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <th width="100px">E-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th width="100px">Phone</th>
                <td>{{ user.reader.phone }}</td>
            </tr>
            <tr>
                <th width="100px">Address</th>
                <td>{{ user.reader.address }}</td>
            </tr>
        </tbody>
    </table>

    <div class="h3">Books</div>
    <ul class="list-group">
        {% for book in user.reader.books.all %}
            <li class="list-group-item">
                {{ book.title }}
                <a class="btn btn-primary" href="{% url 'book-return' pk=book.pk %}">Return</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
