{% extends 'base.html' %}

{% block page_title %}
  Login
{% endblock %}

{% block content %}
  <div class="h3">Librarian</div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Login</button>
  </form>
{% endblock %}
