<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block page_title %}
        {% endblock %} - Library
    </title>
    {% load static %}

    <!-- Bootstrap css -->
    <link rel="stylesheet"
          href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-expand-md bg-light mb-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Library</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent"
            >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Books
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'author-list' %}">Authors</a></li>
                            <li><a class="dropdown-item" href="{% url 'work-list' %}">Works</a></li>
                            <li><a class="dropdown-item" href="{% url 'book-list' %}">Books</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'publisher-list' %}">Publishers</a></li>
                            <li><a class="dropdown-item" href="{% url 'genre-list' %}">Genre</a></li>
                        </ul>
                    </li>
                    {% if not user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Login
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'reader-login' %}">Reader</a></li>
                                <li><a class="dropdown-item" href="{% url 'librarian-login' %}">Librarian</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Registration
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'reader-registration' %}">Reader</a></li>
                                <li><a class="dropdown-item" href="{% url 'librarian-registration' %}">Librarian</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.reader %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'reader-logout' %}">Logout</a></li>
                                <li><a class="dropdown-item" href="{% url 'reader-profile' %}">Profile</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.librarian %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'librarian-logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Librarians
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'new-librarian-list' %}">Register new</a></li>
                                <li><a class="dropdown-item" href="{% url 'librarian-list' %}">All</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/admin/">View admin site</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>